In [5]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    df = actor_director.groupby(['actor_id', 'director_id']).count().reset_index()
    df = df[df["timestamp"] >= 3]
    return df[['actor_id', 'director_id']]

In [2]:
data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
ActorDirector = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})
ActorDirector

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [6]:
actors_and_directors(ActorDirector)

   actor_id  director_id
0         1            1

In [4]:
ActorDirector.groupby(['actor_id', 'director_id']).count().reset_index()

   actor_id  director_id  timestamp
0         1            1          3
1         1            2          2
2         2            1          2