In [11]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    new_df = delivery.query("order_date == customer_pref_delivery_date")
    val = new_df.shape[0] / delivery.shape[0] * 100
    return pd.DataFrame({"immediate_percentage": [round(val, 2)]})

In [2]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 5, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-11'], [4, 3, '2019-08-24', '2019-08-26'], [5, 4, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13']]
Delivery = pd.DataFrame(data, columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype({'delivery_id':'Int64', 'customer_id':'Int64', 'order_date':'datetime64[ns]', 'customer_pref_delivery_date':'datetime64[ns]'})
Delivery

   delivery_id  customer_id order_date customer_pref_delivery_date
0            1            1 2019-08-01                  2019-08-02
1            2            5 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-11
3            4            3 2019-08-24                  2019-08-26
4            5            4 2019-08-21                  2019-08-22
5            6            2 2019-08-11                  2019-08-13

In [12]:
food_delivery(Delivery)

   immediate_percentage
0                 33.33