In [54]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    df = activities.groupby(['sell_date']).nunique()
    df2 = activities.groupby(['sell_date']).apply(lambda x: ",".join(sorted(set(x['product']))))
    
    df = df.reset_index()
    df["products"] = df2.reset_index(drop=True)
    
    return df.rename(columns={"product": "num_sold"})

In [55]:
data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
Activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})
Activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

In [56]:
categorize_products(Activities)

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask

In [57]:
df1 = Activities.groupby(['sell_date']).count().reset_index()
df1

   sell_date  product
0 2020-05-30        3
1 2020-06-01        2
2 2020-06-02        2

In [58]:
df2 = Activities.groupby(['sell_date']).apply(lambda x: ",".join(sorted(set(x['product']))))
df2

sell_date
2020-05-30    Basketball,Headphone,T-Shirt
2020-06-01                    Bible,Pencil
2020-06-02                            Mask
dtype: object

In [59]:
print(type(df2))

<class 'pandas.core.series.Series'>

In [60]:
df2.reset_index(drop=True)

0    Basketball,Headphone,T-Shirt
1                    Bible,Pencil
2                            Mask
dtype: object

In [61]:
df1["products"] = df2.reset_index(drop=True)
df1

   sell_date  product                      products
0 2020-05-30        3  Basketball,Headphone,T-Shirt
1 2020-06-01        2                  Bible,Pencil
2 2020-06-02        2                          Mask