In [10]:
import pandas as pd
import re

prefix = re.compile(r"^[a-z]+[a-z0-9_\-\.]*@leetcode\.com$", flags=re.IGNORECASE)

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    def apply_func(row: pd.Series):
        mail = row["mail"]
        if not prefix.match(mail):
            return False
        return True
    
    users["valid"] = users.apply(apply_func, axis=1)
    return users[users["valid"] == True][["user_id", "name", "mail"]]

In [3]:
data = [[1, 'Winston', 'winston@leetcode.com'], [2, 'Jonathan', 'jonathanisgreat'], [3, 'Annabelle', 'bella-@leetcode.com'], [4, 'Sally', 'sally.come@leetcode.com'], [5, 'Marwan', 'quarz#2020@leetcode.com'], [6, 'David', 'david69@gmail.com'], [7, 'Shapiro', '.shapo@leetcode.com']]
Users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})
Users

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com
6        7    Shapiro      .shapo@leetcode.com

In [11]:
valid_emails(Users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com