In [5]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    patients["valid"] = patients["conditions"].str.contains("^DIAB1| DIAB1", regex=True)
    new_df = patients[patients["valid"] == True]
    return new_df[["patient_id", "patient_name", "conditions"]]

In [2]:
data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''], [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201']]
Patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})
Patients

   patient_id patient_name    conditions
0           1       Daniel    YFEV COUGH
1           2        Alice
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100
4           5        Alain       DIAB201

In [6]:
find_patients(Patients)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100