In [6]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    def apply_func(row: pd.Series):
        name = row["name"]
        name = name[0].upper() + name[1:].lower()
        return name
    users["name"] = users.apply(apply_func, axis=1)
    return users.sort_values(by="user_id", ascending=True)

In [2]:
data = [[1, 'aLice'], [2, 'bOB']]
Users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})
Users

   user_id   name
0        1  aLice
1        2    bOB

In [7]:
fix_names(Users)

   user_id   name
0        1  Alice
1        2    Bob