In [4]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets["length"] = tweets["content"].str.len()
    new_df = tweets[tweets["length"] > 15]
    return new_df[["tweet_id"]]

In [3]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
Tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})
Tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [5]:
invalid_tweets(Tweets)

   tweet_id
1         2