In [26]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    # 获取每次耗时
    employees["total_time"] = employees["out_time"] - employees["in_time"]
    # 按照日期和员工id分组求和
    new_df =  employees.groupby(["event_day", "emp_id"]).sum()
    # 重置索引, 并重命名列
    new_df = new_df.reset_index().rename(columns={"event_day": "day"})
    new_df = new_df[["day", "emp_id", "total_time"]]
    return new_df

In [4]:
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
Employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})
Employees

   emp_id  event_day  in_time  out_time
0       1 2020-11-28        4        32
1       1 2020-11-28       55       200
2       1 2020-12-03        1        42
3       2 2020-11-28        3        33
4       2 2020-12-09       47        74

In [27]:
total_time(Employees)

         day  emp_id  total_time
0 2020-11-28       1         173
1 2020-11-28       2          30
2 2020-12-03       1          41
3 2020-12-09       2          27