In [4]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    """
    有相同的薪水时，排名并列.
    """
    salary = sorted(employee["salary"], reverse=True)
    unique_salary = sorted(set(salary), reverse=True)

    N = 2
    col = "SecondHighestSalary"
    if N > len(unique_salary):
        val = None
    else:
        # 只要工资就行了, 不要人名. 其实表里也没有人名
        val = unique_salary[N-1]
    return pd.DataFrame({col: [val]})

In [3]:
data = [[1, 100], [2, 200], [3, 300]]
Employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})
Employee

   id  salary
0   1     100
1   2     200
2   3     300

In [5]:
second_highest_salary(Employee)

   SecondHighestSalary
0                  200