In [15]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customerId_set = set(orders['customerId'])
    # 这个比 query 快一些, 虽然 query 更简洁
    new_df =  customers[~customers['id'].isin(customerId_set)]
    # new_df = customers.query("id not in @customerId_set", engine='python')
    return new_df[["name"]].rename(columns={"name": "Customers"})

In [3]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
Customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
Orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [4]:
Customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [5]:
Orders

   id  customerId
0   1           3
1   2           1

In [16]:
find_customers(Customers, Orders)

  Customers
1     Henry
3       Max