In [5]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    def apply_func(row: pd.Series):
        employee_id = row["employee_id"]
        name = row["name"]
        salary = row["salary"]

        if employee_id % 2 == 1 and name[0] != "M":
            return salary
        else:
            return 0
    
    employees["bonus"] = employees.apply(apply_func, axis=1)
    return employees[["employee_id", "bonus"]].sort_values(by="employee_id", ascending=True)

In [2]:
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
Employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})
Employees

   employee_id     name  salary
0            2     Meir    3000
1            3  Michael    3800
2            7  Addilyn    7400
3            8     Juan    6100
4            9   Kannon    7700

In [6]:
calculate_special_bonus(Employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700