In [ ]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    """
    难受, 我属于低收入人群
    """
    # 这也能超时
    def apply_func(row: pd.Series) -> str:
        if row['income'] < 20000:
            return 'Low Salary'
        elif row['income'] > 50000:
            return 'High Salary'
        else:
            return 'Average Salary'
    
    accounts['category'] = accounts.apply(apply_func, axis=1)
    new_df = accounts.groupby('category').count()
    
    data = {
        "Low Salary": 0,
        "Average Salary": 0,
        "High Salary": 0
    }
    for index, row in new_df.iterrows():
        data[index] = row['income']
    return pd.DataFrame(data.items(), columns=['category', 'accounts_count'])

In [ ]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    """
    难受, 我属于低收入人群
    """
    # 这也能超时
    def apply_func(row: pd.Series) -> str:
        if row['income'] < 20000:
            return 'Low Salary'
        elif row['income'] > 50000:
            return 'High Salary'
        else:
            return 'Average Salary'
        
    data = {
        "Low Salary": 0,
        "Average Salary": 0,
        "High Salary": 0
    }
    for _, row in accounts.iterrows():
        data[apply_func(row)] += 1
    return pd.DataFrame(data.items(), columns=['category', 'accounts_count'])

In [11]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    """
    难受, 我属于低收入人群
    """        
    data = {
        "Low Salary": 0,
        "Average Salary": 0,
        "High Salary": 0
    }
    # 真离谱, 有时候 engine 不用设置, 有时候需要, 为什么?
    data["Low Salary"] = accounts.query("income < 20000", engine="python").shape[0]
    data["Average Salary"] = accounts.query("income >= 20000 and income <= 50000", engine="python").shape[0]
    data["High Salary"] = accounts.query("income > 50000", engine="python").shape[0]
    return pd.DataFrame(data.items(), columns=['category', 'accounts_count'])

In [15]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    """
    难受, 我属于低收入人群
    """        
    data = {
        "Low Salary": 0,
        "Average Salary": 0,
        "High Salary": 0
    }
    # 真离谱, 有时候 engine 不用设置, 有时候需要, 为什么?
    data["Low Salary"] = accounts[accounts['income'] < 20000].shape[0]
    data["Average Salary"] = accounts[(accounts['income'] >= 20000) & (accounts['income'] <= 50000)].shape[0]
    data["High Salary"] = accounts[accounts['income'] > 50000].shape[0]
    return pd.DataFrame(data.items(), columns=['category', 'accounts_count'])

In [2]:
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
Accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
Accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

In [16]:
count_salary_categories(Accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3