In [17]:
import pandas as pd

# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by=["id"], inplace=True)
    person.drop_duplicates(subset=['email'], keep='first', inplace=True)

In [18]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
Person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})
Person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [19]:
delete_duplicate_emails(Person)
Person

   id             email
0   1  john@example.com
1   2   bob@example.com

In [20]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
    'score': [80, 90, 70, 85, 95, 75]
})

df['total_score'] = df.groupby('name')['score'].transform('sum')
df['subject_score'] = df.groupby(['name', 'subject'])['score'].transform('sum')
df['subject_percentage'] = df['subject_score'] / df['total_score']

print(df)

      name  subject  score  total_score  subject_score  subject_percentage
0    Alice     Math     80          165             80            0.484848
1      Bob     Math     90          185             90            0.486486
2  Charlie     Math     70          145             70            0.482759
3    Alice  Science     85          165             85            0.515152
4      Bob  Science     95          185             95            0.513514
5  Charlie  Science     75          145             75            0.517241