In [15]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    count = store.query("amount > 500", engine="python")["customer_id"].unique().shape[0]
    return pd.DataFrame({"rich_count": [count]})

In [2]:
data = [[6, 1, 549], [8, 1, 834], [4, 2, 394], [11, 3, 657], [13, 3, 257]]
Store = pd.DataFrame(data, columns=['bill_id', 'customer_id', 'amount']).astype({'bill_id':'int64', 'customer_id':'int64', 'amount':'int64'})
Store

   bill_id  customer_id  amount
0        6            1     549
1        8            1     834
2        4            2     394
3       11            3     657
4       13            3     257

In [16]:
count_rich_customers(Store)

   rich_count
0           2

In [19]:
Store.query("amount > 500")["customer_id"].unique()

array([1, 3], dtype=int64)