In [24]:
import pandas as pd

def count_unique_subjects1(teacher: pd.DataFrame) -> pd.DataFrame:
    # 需要 488 ms
    teacher = teacher.groupby('teacher_id')['subject_id'].nunique().reset_index()
    teacher = teacher.rename(columns={"subject_id": "cnt"})
    return teacher

In [25]:
def count_unique_subjects2(teacher: pd.DataFrame) -> pd.DataFrame:
    # 这个会比我上面的快很多, 只要 304ms
    df = teacher.groupby(["teacher_id"])["subject_id"].nunique().reset_index()
    df = df.rename({'subject_id': "cnt"}, axis=1)
    return df

In [26]:
def count_unique_subjects3(teacher: pd.DataFrame) -> pd.DataFrame:
    # leetcode 的计时感觉不靠谱, 这个是 252ms
    df = teacher.groupby('teacher_id')['subject_id'].nunique().reset_index()
    df = df.rename(columns={"subject_id": "cnt"})
    return df

In [2]:
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
Teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype({'teacher_id':'Int64', 'subject_id':'Int64', 'dept_id':'Int64'})
Teacher

   teacher_id  subject_id  dept_id
0           1           2        3
1           1           2        4
2           1           3        3
3           2           1        1
4           2           2        1
5           2           3        1
6           2           4        1

In [13]:
Teacher.groupby('teacher_id')['subject_id'].nunique().reset_index()

   teacher_id  subject_id
0           1           2
1           2           4

In [27]:
%timeit count_unique_subjects1(Teacher)

535 µs ± 6.97 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [28]:
%timeit count_unique_subjects2(Teacher)

533 µs ± 8.17 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [29]:
%timeit count_unique_subjects3(Teacher)

534 µs ± 8.92 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)