In [17]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    # 看清楚, 是订单 id, 不是订单数量
    orders = orders.groupby("customer_number").count()
    orders = orders.sort_values(by="order_number", ascending=False)
    orders = orders.head(1)
    orders = orders.reset_index()[["customer_number"]]
    return orders

In [7]:
data = [[1, 1], [2, 2], [3, 3], [4, 3]]
data = [[3, 5], [5, 1], [6, 5], [7, 4], [8, 6], [9, 2], [10, 4], [11, 16], [12, 3], [13, 5], [14, 3], [15, 16]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})
orders

    order_number  customer_number
0              3                5
1              5                1
2              6                5
3              7                4
4              8                6
5              9                2
6             10                4
7             11               16
8             12                3
9             13                5
10            14                3
11            15               16

In [18]:
largest_orders(orders)

   customer_number
0                5